
<%= will_paginate @courses, renderer: BootstrapPagination::Rails %>

<div class="container">
  <div class="row">
    <% @courses.each do |course| %>
      <div class="col-xs-6 col-md-3">
        
        <div class="thumbnail">
          
              <%= link_to image_tag(course.image.url, size: "400x200"), course %>
              
              <div class="caption">
                
                <h4 style="text-transform: capitalize;"><%= course.name %></h4>
                <p>Lecturer <%= course.lecture %></p>
                <p>Price <%= raw number_to_currency(course.price) %></p>
               <div class="star-rating" data-score = <%= @avg_rating %> ></div>
                  <p> <%= "#{@reviews.length} reviews" %> </p>
              </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  
    <%= link_to 'Create Course', new_course_path, class: "btn btn-primary btn-sm active" %>
  
</div>

<script>
  $('.star-rating').raty({
    path: '../assets/stars',
    readOnly: true,
    score: function() {
    return $(this).attr('data-score');
  }
  });
</script>
